<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.name %>
      <%# ↑messagesテーブルのuser_idに紐付いているユーザー名を、user.nameと記述することで取得している。 %>
    </div>
    <div class="message-date">
      <%= l message.created_at %>
      <%# ↑messagesテーブルのcreated_atカラムから、投稿した時刻を取得している。 %>
      <%# ↑lメソッドを用いて記述することで、あらかじめ設定した日本時刻のフォーマットで表示している。 %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content %>
      <%# ↑messagesテーブルのcontentカラムから、メッセージの内容を取得している。 %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
               <%# ↑<%= image_tag モデル名.ファイル名(has_one_attachedで決めたファイル名) %>
               <%# ↑「if message.image.attached?」は、画像が存在しない場合でも、画像を表示する記述が読み込まれて、エラーを引き起こしてしまうため、それを防ぐためにメッセージに画像が添付されているかをチェックするメソッド。 %>
               <%# ↑「variant」は「モデル.ファイル名.variant(resize: '幅x高さ')」でファイルの表示サイズを指定できる。 %>
  </div>
</div>